<%= form_tag(flights_path, method: 'get') do |f| %> 
  <%= label_tag("Flight details: ") %>
  <p>
    <%= select_tag(:from_airport_id, options_for_select(Airport.all.map{ |a| [a.code, a.id]})) %> 
    <%= select_tag(:to_airport_id,   options_for_select(Airport.all.map{ |a| [a.code, a.id]})) %> 
    <%= select_tag(:start_datetime,  options_for_select(Flight.get_start_dates.sort), prompt: "Select date") %>
  </p>
  <p>
    <%= label_tag(:passengers_number," No. of passengers: ") %>
    <%= select_tag(:passengers_number, options_for_select([1,2,3,4])) %>
  </p>
  <p>
    <%= submit_tag "Search" %>
  </p>
<% end %>
